@model IEnumerable<TourAgency.Web.Models.TourViewModel>
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="/Content/Site.css">
<div ckass="container-fluid" style="text-align: center;">
    <div class="row">
        <div>
            <div>
                <p>
                    <img src="~/Content/CountriesPictures/Australia.jpg" alt="Australia" class="zoom-left-upper-corner">
                    <img src="~/Content/CountriesPictures/Austria.jpg" alt="Austria" class="zoom-down">
                    <img src="~/Content/CountriesPictures/Deutschland.jpg" alt="Deutschland" class="zoom-down">
                    <img src="~/Content/CountriesPictures/Greece.jpg" alt="Greece" class="zoom-right-upper-corner">
                </p>
            </div>
        </div>
        <div>
            <div>
                <p>
                    <img src="~/Content/CountriesPictures/Italy.jpg" alt="Italy" class="zoom-left">
                    <img src="~/Content/CountriesPictures/London.jpg" alt="London" class="zoom">
                    <img src="~/Content/CountriesPictures/Poland.jpg" alt="Poland" class="zoom">
                    <img src="~/Content/CountriesPictures/Russia.jpg" alt="Russia" class="zoom-right">
                </p>
            </div>
        </div>
        <div>
            <div>
                <p>
                    <img src="~/Content/CountriesPictures/Spain.jpg" alt="Spain" class="zoom-left-lower-corner">
                    <img src="~/Content/CountriesPictures/Turkey.jpg" alt="Turkey" class="zoom-up">
                    <img src="~/Content/CountriesPictures/Usa.jpg" alt="Usa" class="zoom-up">
                    <img src="~/Content/CountriesPictures/Canada.jpg" alt="Canada" class="zoom-right-lower-corner">
                </p>
            </div>
        </div>
    </div>
    <h1>
        Our travel agency offers the largest selection of tours for the whole World
        We are the leading tour operator on World tourist Incoming-Market
        Our friendly and professional guides will show you the best tourist sights in the World
        We take care of the best travel experiences of our customers from all over the World
        Travel to Ukraine with Tour Agency and enjoy a perfect Holiday
    </h1>
</div>
