@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <br />
    <br />
    <div style="text-align: center;">
        <h3>
            Our travel agency offers the largest selection of tours for the whole World.
        </h3>
        <h3>
            We are the leading tour operator on World tourist Incoming-Market.
        </h3>
        <h3>
            Our friendly and professional guides will show you the best tourist sights in the World.
        </h3>
        <h3>
            We take care of the best travel experiences of our customers from all over the World.
        </h3>
        <h3>
            Travel to Ukraine with Tour Agency and enjoy a perfect Holiday. 
        </h3>
    </div>
    <div class="container text-xl-center">
        <img src="~/Content/CountriesPictures/Australia.jpg" alt="Australia" class="img-fluid rounded zoom-left-upper-corner border border-primary">
        <img src="~/Content/CountriesPictures/Austria.jpg" alt="Austria" class="img-fluid rounded zoom-down border border-primary">
        <img src="~/Content/CountriesPictures/Deutschland.jpg" alt="Deutschland" class="img-fluid rounded zoom-down border border-primary">
        <img src="~/Content/CountriesPictures/Greece.jpg" alt="Greece" class="img-fluid rounded zoom-right-upper-corner border border-primary">
        <img src="~/Content/CountriesPictures/Italy.jpg" alt="Italy" class="img-fluid rounded zoom-left border border-primary">
        <img src="~/Content/CountriesPictures/London.jpg" alt="London" class="img-fluid rounded zoom border border-primary">
        <img src="~/Content/CountriesPictures/Poland.jpg" alt="Poland" class="img-fluid rounded zoom border border-primary">
        <img src="~/Content/CountriesPictures/Russia.jpg" alt="Russia" class="img-fluid rounded zoom-right border border-primary">
        <img src="~/Content/CountriesPictures/Spain.jpg" alt="Spain" class="img-fluid rounded zoom-left-lower-corner border border-primary">
        <img src="~/Content/CountriesPictures/Turkey.jpg" alt="Turkey" class="img-fluid rounded zoom-up border border-primary">
        <img src="~/Content/CountriesPictures/Usa.jpg" alt="Usa" class="img-fluid rounded zoom-up border border-primary">
        <img src="~/Content/CountriesPictures/Canada.jpg" alt="Canada" class="img-fluid rounded zoom-right-lower-corner border border-primary">
    </div>
</div>
