@model TourAgency.Web.Models.CustomerViewModel

@{
    ViewBag.Title = "ChangeInformation";
}

<h2>ChangeInformation</h2>

<div class="card-body">
    <div class="col-sm-6 mx-auto">
        <div class="card">
            <h4 class="text-center"> Change Personal Information</h4>
            <div class="card-body">
                @using (Html.BeginForm("ChangeInformation", "Customer", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <b>Your old Name: </b>
                    @Html.DisplayFor(model => model.Name)
                    <br />
                    <b>Your new Name: </b>
                    <input name="name" type="text" autocomplete="off" class="form-control numInput">
                    <br />
                    <b>Your old Surname: </b>
                    @Html.DisplayFor(model => model.Surname)
                    <br />
                    <b>Your new Surname: </b>
                    <input name="surname" type="text" autocomplete="off" class="form-control numInput">
                    <br />
                    <input type="submit" class="btn btn-success w-50" value="Change" />
                }
            </div>
        </div>
    </div>
</div>
