body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(Icons/background.png);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.white-popup {
    position: relative;
    background: #ffffff;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}


img {
    padding: 3px;
    transition: transform .2s;
    position: center;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.zoom .zoom-left .zoom-right .zoom-up .zoom-down .zoom-left-upper-corner
.zoom-right-upper-corner .zoom-left-lower-corner .zoom-left-upper-corner .zoom-right-lower-corner {
}

.zoom:hover {
    transform: scale(1.6);
}

.zoom-left:hover {
    transform: scale(1.6) translateX(18.4%);
}

.zoom-right:hover {
    transform: scale(1.6) translateX(-18.4%);
}

.zoom-up:hover {
    transform: scale(1.6) translateY(-18.4%);
}

.zoom-down:hover {
    transform: scale(1.6) translateY(18.4%);
}

.zoom-left-upper-corner:hover {
    transform: scale(1.6) translate(18.4%, 18.4%);
}

.zoom-right-upper-corner:hover {
    transform: scale(1.6) translate(-18.4%, 18.4%);
}

.zoom-left-lower-corner:hover {
    transform: scale(1.6) translate(18.4%, -18.4%);
}

.zoom-right-lower-corner:hover {
    transform: scale(1.6) translate(-18.4%, -18.4%);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.area {
    text-align: center;
    font-size: 50px;
    color: #fff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur 2s ease-out infinite;
    text-shadow: 0px 0px 2px Red, 0px 0px 2px Red;
}

@keyframes blur {
    from {
        text-shadow: 
            0px 0px 5px Red,
            0px 0px 10px Red, 
            0px 0px 25px Red, 
            0px 0px 25px Red, 
            0px 0px 25px Red,
            0px 0px 25px Red, 
            0px 0px 25px Red,
            0px 0px 25px Red, 
            0px 0px 50px Red,
            0px 0px 50px Red, 
            0px 0px 50px #7B96B8,
            0px 0px 100px #7B96B8,
            0px 10px 50px #7B96B8, 
            0px 10px 50px #7B96B8, 
            0px 10px 50px #7B96B8,
            0px 10px 50px #7B96B8, 
            0px -10px 50px #7B96B8,
            0px -10px 50px #7B96B8;
    }
}





